<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your OTP Code</title>
</head>
<body style="margin: 0; font-family: 'Poppins', sans-serif; background: #ffffff; font-size: 14px;">
<div style="max-width: 680px; margin: 0 auto; padding: 45px 30px 60px; background: #f4f7ff; text-align: center;">
  <h1 style="color: #1f1f1f;">Your OTP</h1>
  <p style="font-size: 16px; font-weight: 500;">Hey <span th:text="${name}"></span>,</p>
  <p style="font-weight: 500;">
    Thank you for choosing POLO. Use the following OTP to complete the procedure to register your account. OTP is valid for
    <span style="font-weight: 600; color: #1f1f1f">5 minutes</span>.
  </p>
  <p style="font-size: 40px; font-weight: 600; color: #ba3d4f; letter-spacing: 25px;">
    <span th:text="${otp}"></span>
  </p>
  <p style="margin-top: 30px;">Need help? Contact <a href="mailto:POLO@service.com">POLO@service.com</a></p>
</div>
</body>
</html>
